.git
.github

.vscode
.idea

.venv
__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

.ipynb_checkpoints

.dvc
.dvc/cache

mlflow_data
mlruns
mlartifacts

artifacts
outputs
logs

.env

*.csv
*.parquet
*.feather

notebooks

dist
build

Dockerfile.old