# Configurações do MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000

# Caminhos de Dados e Modelos
DATA_DIR=data/
MODELS_DIR=models/baselines
MODELS_DIR=models/neural

# Configurações do Banco de Dados (se aplicável para features/cadastro)
DATABASE_URL=sqlite:///./mlflow.db